@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.white {
  color: #FAFAFA;
}

.black {
  color: #0D0D0D;
}

.gray {
  color: #4F4F4F;
}

.pacific {
  color: #118AB2;
}

.easy {
  color: #06D6A0;
}

.normal {
  color: #FFD166;
}

.medium {
  color: #F48C06;
}

.harsh {
  color: #FB5607;
}

.harsher {
  color: #D00000;
}

.insane {
  color: #7F2982;
}

.atrocious {
  color: #2D0C2F;
}

.extreme {
  color: #FF006E;
}

.fatal {
  color: #80FFDB;
}

.circle {
  width: 25px;
  height: 25px;
  background-color: #FAFAFA;
  color: transparent;
  border-radius: 50%;
}

.white .circle {
  background-color: #FAFAFA;
}

.black .circle {
  background-color: #0D0D0D;
}

.gray .circle {
  background-color: #4F4F4F;
}

.pacific .circle {
  background-color: #118AB2;
}

.easy .circle {
  background-color: #06D6A0;
}

.normal .circle {
  background-color: #FFD166;
}

.medium .circle {
  background-color: #F48C06;
}

.harsh .circle {
  background-color: #FB5607;
}

.harsher .circle {
  background-color: #D00000;
}

.insane .circle {
  background-color: #7F2982;
}

.atrocious .circle {
  background-color: #2D0C2F;
}

.extreme .circle {
  background-color: #FF006E;
}

.fatal .circle {
  background-color: #80FFDB;
}

.white .line {
  background-color: #FAFAFA;
}

.black .line {
  background-color: #0D0D0D;
}

.gray .line {
  background-color: #4F4F4F;
}

.pacific .line {
  background-color: #118AB2;
}

.easy .line {
  background-color: #06D6A0;
}

.normal .line {
  background-color: #FFD166;
}

.medium .line {
  background-color: #F48C06;
}

.harsh .line {
  background-color: #FB5607;
}

.harsher .line {
  background-color: #D00000;
}

.insane .line {
  background-color: #7F2982;
}

.atrocious .line {
  background-color: #2D0C2F;
}

.extreme .line {
  background-color: #FF006E;
}

.fatal .line {
  background-color: #80FFDB;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  cursor: default;
}

body, ol, ul {
  background-color: #0D0D0D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  width: 100%;
}

.card {
  transition: all 0.4s;
  transform: translateY(0rem);
  margin: 0 auto;
  width: 75%;
  border-radius: 1.5rem;
  min-height: 200px;
  height: 200px;
  padding: 1rem 2rem 1rem 5rem;
  color: #FAFAFA;
  background: linear-gradient(190deg, #FAFAFA 0%, #0D0D0D 35%);
  border-left: 2px solid #4F4F4F;
  border-bottom: 2px solid #4F4F4F;
}

.card:nth-child(2) {
  background: linear-gradient(190deg, #662E9B 0%, #0D0D0D 35%);
  border-left: 4px solid #662E9B;
  border-bottom: 4px solid #2D0C2F;
}

.card:nth-child(3) {
  background: linear-gradient(190deg, #B9F2FF 0%, #0D0D0D 35%);
  border-left: 4px solid #B9F2FF;
  border-bottom: 4px solid #80FFDB;
}

.card:nth-child(4) {
  background: linear-gradient(190deg, #ffd60a 0%, #0D0D0D 35%);
  border-left: 4px solid #ffd60a;
  border-bottom: 4px solid #ffc300;
}

.card:hover {
  transition: all 0.4s;
  transform: translateY(-0.5rem);
}

#fast li:nth-child(2) {
  font-weight: 800;
  color: #662E9B;
}

#fast li:nth-child(3) {
  font-weight: 700;
  color: #80FFDB;
}

#fast li:nth-child(4) {
  font-weight: 700;
  color: #ffd60a;
}

#trackName {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

#authorName {
  margin-left: 0.1rem;
  font-size: 1.25rem;
}

.detailedMusicMain {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  width: 90%;
  padding: 3rem;
}

.levels {
  transition: all 0.4s;
  width: 20%;
  background: linear-gradient(235deg, #FAFAFA 0%, #0D0D0D 35%);
  border-left: 2px solid #4F4F4F;
  border-bottom: 2px solid #4F4F4F;
  border-radius: 1.5rem;
  transform: translateY(0rem);
}

.levels:hover {
  transition: all 0.4s;
  transform: translateY(-0.5rem);
}

.levels-img {
  width: 100%;
  height: 100%;
}

li, p, h1, h2, a {
  color: #FAFAFA;
  text-decoration: none;
  font-weight: 700;
}

img {
  width: 35px;
  height: 35px;
  padding: 0;
  margin: 0;
}

h5 {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  margin-bottom: -1.5rem;
}

.title {
  width: 100%;
}

.navigation {
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  min-height: 100px;
  height: auto;
  gap: 1rem;
  margin: 0.5rem;
}

.navigation a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100px;
  color: #FAFAFA;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
}

.navigation a img {
  width: 75%;
  height: 75%;
}

.navigation__links {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.navigation__logo {
  width: 100%;
  height: 100%;
}

.title img {
  width: 100%;
  height: 100%;
}

#detailed {
  user-select: none;
  width: 100%;
  gap: 2rem;
  list-style-type: none;
  counter-reset: mycounter;
}

#detailed li {
  margin-left: -3.5rem;
  font-size: 1.5rem;
}

#detailed li::before {
  position: relative;
  top: 0.25rem;
  content: counter(mycounter);
  counter-increment: mycounter;
}

.card__inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 1rem;
}

.card__title {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 0;
  height: 100px;
}

.card__title h1 {
  margin: 0;
  padding: 0;
  gap: 0;
  margin-top: -3rem;
  margin-left: 3.5rem;
}

.card__description {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: 100%;
  gap: 1rem;
  height: 100px;
}

.card__description div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
}

.card__description div a {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: left;
  font-size: 1.25rem;
  font-weight: 700;
}

.card__description #difficulty {
  width: 20%;
}

.card__description #duration {
  width: 15%;
}

.card__description #foundYear {
  width: 15%;
}

.card__description #repeatings {
  width: 15%;
}

.card__description #link {
  width: 35%;
}

#difficulty {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 0.25rem;
}

.card__description div img,
.card__description div .circle {
  margin-right: 0.5rem;
}

ol h3 {
  font-size: 3rem;
}

#detailed h3 {
  text-align: left;
}

#fast h3 {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  height: 1.5rem;
}

#fast {
  text-align: left;
  justify-content: start;
  align-items: start;
  width: 70%;
  gap: 0.5rem;
  padding-left: 2rem !important;
}

.line {
  position: relative;
  color: #0D0D0D;
  background-color: #FAFAFA;
  width: 50vw;
  top: -1.5rem;
  left: 15vw;
  overflow: hidden;
  height: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

button, button:hover, button:active {
  transition: all 0.4s;
  transform: translateY(0);
}

#isBasedSolely {
  transition: all 0.4s;
}

button:hover {
  transition: all 0.4s;
  transform: translateY(-0.5rem);
}

#isBasedSolely:hover {
  transition: all 0.4s;
  color: #80FFDB;
}

.open-modal {
  width: 2%;
  padding: 0;
  border: none;
  background: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.open-modal img {
  width: 100%;
  height: 100%;
}

/* Фон модалки */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none; /* по умолчанию скрыто */
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* когда добавлен класс show — показываем */
.modal.show {
  display: flex;
}

/* Окно */
.modal__dialog {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 1rem;
  position: relative;
  max-width: 50vw;
  width: 100%;
  padding: 1.5rem;
  animation: fadeInUp 0.25s ease-out;
  margin: 0 auto;
  border-radius: 1.5rem;
  min-height: 200px;
  height: auto;
  color: #FAFAFA;
  background: linear-gradient(190deg, #FAFAFA 0%, #0D0D0D 35%);
  border-left: 2px solid #4F4F4F;
  border-bottom: 2px solid #4F4F4F;
}

.omg {
  transition: all 0.4s;
  animation: omg 0.5s ease-in-out infinite forwards;
}

/* Крестик */
.modal__close {
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  line-height: 1;
  cursor: default;
}

.modal__title {
  margin: 0 0 0.5rem;
  font-size: 2rem;
}

.modal__text {
  margin: 0 0 1rem;
  font-size: 1rem;
  color: #FAFAFA;
}

.modal__action {
  margin: 0;
  width: 100px;
  border-radius: 1.5rem;
  min-height: 50px;
  height: 50px;
  padding: 0.5rem;
  color: #FAFAFA;
  font-weight: 700;
  background: linear-gradient(190deg, #FAFAFA 0%, #0D0D0D 35%);
  border-left: 2px solid #4F4F4F;
  border-bottom: 2px solid #4F4F4F;
}

@keyframes omg {
  from {
    font-size: 1.5rem;
    color: #80FFDB;
  }
  10% {
    color: #FF006E;
  }
  20% {
    color: #2D0C2F;
  }
  30% {
    color: #7F2982;
  }
  30% {
    color: #D00000;
  }
  50% {
    font-size: 5rem;
    color: #FB5607;
  }
  60% {
    color: #F48C06;
  }
  70% {
    color: #FFD166;
  }
  80% {
    color: #FFD166;
  }
  90% {
    color: #06D6A0;
  }
  to {
    font-size: 5rem;
    color: #118AB2;
  }
}
/* Простая анимация */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 1600px) {
  .line {
    display: none;
  }
  .card {
    width: 60vw;
    min-height: 200px;
  }
}
@media (max-width: 1200px) {
  .detailedMusicMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 90%;
    padding: 0.5rem;
  }
  .levels {
    width: 40%;
  }
  #detailed {
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 85vw;
    min-height: 200px;
  }
}
@media (max-width: 900px) {
  .modal__dialog {
    gap: 1rem;
    max-width: 85vw;
    width: 100%;
    padding: 1rem;
    min-height: 200px;
    height: auto;
  }
  .modal__title {
    margin: 0 0 0.25rem;
    font-size: 1.5rem;
  }
  .modal__text {
    margin: 0 0 0.5rem;
    font-size: 1rem;
  }
  .card {
    width: 85vw;
    min-height: 100px;
    height: 150px;
  }
  .open-modal {
    min-width: 30px;
    min-height: 30px;
  }
  #trackName {
    font-size: 1.25rem;
  }
  ol h3 {
    font-size: 2rem;
  }
  h2 {
    font-size: 0.75rem;
  }
  #authorName {
    margin-left: 0.05rem;
    font-size: 1rem;
  }
  img, .circle {
    width: 20px;
    height: 20px;
  }
  #detailed {
    margin: 1rem;
    gap: 1rem;
    list-style-type: none;
    counter-reset: mycounter;
  }
  #detailed li {
    margin-left: -3.5rem;
    font-size: 1.5rem;
  }
  #detailed li::before {
    position: relative;
    width: 50px !important;
    height: 50px !important;
    top: 0;
    content: counter(mycounter);
    counter-increment: mycounter;
  }
  .card__title h1 {
    margin-bottom: 0rem;
    margin-left: 3.5rem;
  }
  .card__title {
    height: 50px;
  }
  .card__description div a,
  .card__description div {
    font-size: 0.75rem;
  }
  .card__description #difficulty {
    margin-top: 0;
  }
  .card__description {
    margin-top: 1rem;
  }
  .card {
    padding: 1rem 1rem 1rem 4.5rem;
  }
}
@media (max-width: 600px) {
  img, .circle {
    width: 15px;
    height: 15px;
  }
  .card {
    padding: 1rem 1rem 1rem 4.5rem;
    min-height: 100px;
    height: auto;
  }
  #detailed li {
    margin-left: -3.5rem;
    font-size: 1.25rem;
  }
  #detailed li::before {
    position: relative;
    width: 20px !important;
    height: 20px !important;
    top: 0;
    content: counter(mycounter);
    counter-increment: mycounter;
  }
  .card__title h1 {
    margin-bottom: 0rem;
    margin-left: 3.5rem;
  }
  .card__description {
    height: auto;
  }
  #trackName {
    margin-top: 1.5rem;
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    max-height: 40px;
  }
  ol h3 {
    font-size: 1.25rem;
  }
  h2 {
    font-size: 0.5rem;
  }
  #authorName {
    margin-left: 0.05rem;
    font-size: 0.75rem;
  }
  .card__description {
    gap: 0.5rem;
    margin-top: 0;
    flex-wrap: wrap;
  }
  .card__description #difficulty {
    width: 50%;
  }
  .card__description #duration {
    width: 25%;
  }
  .card__description #foundYear {
    width: 25%;
  }
  .card__description #repeatings {
    width: 25%;
  }
  .card__description #link {
    width: 25%;
  }
}/*# sourceMappingURL=styles.css.map */