@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// $white: #FAFAFA;
// $black: #0D0D0D;
$gray: #4F4F4F;
$pacific: #118AB2;
$easy: #06D6A0;
$normal: #FFD166;
$medium: #F48C06;
$harsh: #FB5607;
$harsher: #D00000;
$insane: #7F2982;
$atrocious: #4F0D51;
$extreme: #FF006E;
$fatal: #80FFDB;

$grad1: #7F298240;
$grad2: #FF006E40;

$themes: (
  light: (
    white: #0F0F0F,
    black: #ECECEC,
    shadow: #C1BDBD
  ),
  dark: (
    white: #FAFAFA,
    black: #0F0F0F,
    shadow: #4F4F4F
  ),
  oled: (
    white: #FAFAFA,
    black: #000000,
    shadow: #404040
  )
);

// Генерация CSS-переменных
@each $name, $colors in $themes {
  :root[data-theme="#{$name}"] {
    --white: #{map-get($colors, white)};
    --black: #{map-get($colors, black)};
    --shadow: #{map-get($colors, shadow)};
  }
}

::-webkit-scrollbar { width: 1rem; }
::-webkit-scrollbar-thumb { background: var(--white); }


.white { color: var(--white); }
.black { color: var(--black); }
.gray { color: $gray; }
.pacific { color: $pacific; }
.easy { color: $easy; }
.normal { color: $normal; }
.medium { color: $medium; }
.harsh { color: $harsh; }
.harsher { color: $harsher; }
.insane { color: $insane; }
.atrocious { color: $atrocious; }
.extreme { color: $extreme; }
.fatal { color: $fatal; }

select,
::picker(select) {
  transition: all .4s;
  appearance: base-select; /* включает кастом */
}

select {
  transition: all .4s;
  font-size: .8rem;
}

select:open {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background: var(--black);
}

::search-text {
  background: var(--white);
//   background: linear-gradient(90deg, #fef3c7, #fed7aa, #fef3c7);
  padding: 2px 4px;
  border-radius: 1.5rem;
  font-weight: 600;
}

/* Анимация появления */
::search-text {
  animation: highlight 0.3s ease-in-out;
}


@keyframes highlight {
  0% { background: transparent; transform: scale(0.95); }
  50% { background: var(--white); transform: scale(1.02); }
  100% { background: var(--white); }
}
::search-text {
  transition: all 0.2s ease;
  font-size: 1.1em;
  background: var(--white);
  color: var(--black);
}
/* Hover при фокусе поиска */
::search-text:hover,
::search-text:focus-within {
  background: var(--white);
  color: var(--black);
}


::picker(select) {
  transition: all .4s;
  border: none;
  border-radius: .75rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: var(--black);
  color: var(--white);
  box-shadow: none;
  background: 
    linear-gradient(190deg, var(--white) 0%, var(--black) 20%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
    border-bottom: none;
}

select::picker-icon {
  transition: all .4s;
  content: '▼';
  right: 1;
  color: var(--white);
  transition: transform 0.2s;
}
option { 
  font-size: .8rem;
  padding: .25rem .25rem .25rem 1rem;
  color: var(--white) !important;
}

.progressbar {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 0;
    width: 100%;
}
.progressbar label {
    font-size: .75rem;
}

progress {
    transition: all .25s;
    transform: translateY(0rem);
    width: 100%;
    border-radius: 1rem;
    height: 1rem;
    margin: 0;
    margin-top: .5rem;
    padding: 0;   
    overflow: hidden;
    border: none;
}

.progressbarText {
    display: block;
    z-index: 100;
    position: absolute;
    font-size: 1rem;
    text-align: center;
    font-weight: 700;
    color: var(--white);
    width: 100%;
    height: 100%;
}

progress:hover {
    transition: all .25s;
    transform: translateY(-.15rem);
}

progress::-webkit-progress-bar {
    padding: 0;
    margin: 0;
    background: 
    linear-gradient(182deg, var(--white) 0%, var(--black) 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
}

progress::-webkit-progress-value {
    position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  background: var(--white);
//   background-color: $gray;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 0;
}


select:open::picker-icon {
  transition: all .4s;
  transform: rotate(180deg);
    color: var(--white);
}
option:checked {
  transition: all .4s;
  background: linear-gradient(90deg, $grad1 0%, $grad2 100%);
  color: var(--white);
}

option::checkmark {
  position: absolute;
  color: var(--white);
  transition: all .4s;
  content: '✓';
  right: 1rem;
}

@media (max-width: 1200px) {
    select:open {
        border-bottom: none;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    ::picker(select) {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        background: 
        linear-gradient(-100deg, var(--white) 0%, var(--black) 20%);
        border-left: 2px solid $gray;
        border-bottom: 2px solid $gray;
    }
}


.circle {
    user-select: none;
    width: 25px;
    height: 25px;
    background-color: var(--white);
    color: transparent;
    border-radius: 50%;
}

.white .circle { background-color: var(--white); }
.black .circle { background-color: var(--black); }
.gray .circle { background-color: $gray; }
.pacific .circle { background-color: $pacific; }
.easy .circle { background-color: $easy; }
.normal .circle { background-color: $normal; }
.medium .circle { background-color: $medium; }
.harsh .circle { background-color: $harsh; }
.harsher .circle { background-color: $harsher; }
.insane .circle { background-color: $insane; }
.atrocious .circle { background-color: $atrocious; }
.extreme .circle { background-color: $extreme; }
.fatal .circle { background-color: $fatal; }

.white .line { background-color: var(--white); }
.black .line { background-color: var(--black); }
.gray .line { background-color: $gray; }
.pacific .line { background-color: $pacific; }
.easy .line { background-color: $easy; }
.normal .line { background-color: $normal; }
.medium .line { background-color: $medium; }
.harsh .line { background-color: $harsh; }
.harsher .line { background-color: $harsher; }
.insane .line { background-color: $insane; }
.atrocious .line { background-color: $atrocious; }
.extreme .line { background-color: $extreme; }
.fatal .line { background-color: $fatal; }


* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}
body, ol, ul {
    transition: all .25s;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    width: 100%;
    overflow-x: hidden;
}
body { padding-bottom: 4rem; }
ol, ul { background: none; overflow-y: hidden; }
.card {
    opacity: 0;
    transition: all .25s;
    transform: translateY(0rem);
    margin: 0 auto;
    width: 75%;
    border-radius: 1.5rem;
    min-height: 100px;
    height: 200px;
    max-height: 400px;
    padding: 1rem 2rem 1rem 5rem;   
    color: var(--white);
    overflow: hidden;
    background: 
    linear-gradient(190deg, var(--white) 0%, var(--black) 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
}
.card__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
}
.card:nth-child(2) {
    background: 
    linear-gradient(190deg, #662E9B 0%, var(--black) 35%);
    border-left: 4px solid #662E9B;
    border-bottom: 4px solid $atrocious;
}
.card:nth-child(3) {
    background: 
    linear-gradient(190deg, #B9F2FF 0%, var(--black) 35%);
    border-left: 4px solid #B9F2FF;
    border-bottom: 4px solid $fatal;
}
.card:nth-child(4) {
    background: 
    linear-gradient(190deg, #ffd60a 0%, var(--black) 35%);
    border-left: 4px solid #ffd60a;
    border-bottom: 4px solid #ffc300;
}

.card.card:nth-child(2) .circle,
.card.card:nth-child(3) .circle,
.card.card:nth-child(4) .circle {
    width: 15px;
    height: 15px;
}
.card:hover {
    transition: all .25s;
    transform: translateY(-.15rem);
}

#fast li:nth-child(2) { font-weight: 800; color: #662E9B; }
#fast li:nth-child(3) { font-weight: 700; color: $fatal; }
#fast li:nth-child(4) { font-weight: 700; color: #ffd60a; }

.trackName {
    font-size: 2rem;
}
h2 {
    font-size: 1rem;
}
.authorName {
    margin-left: .1rem;
    font-size: 1.25rem;
    // font-style: italic;

}

.detailedMusicMain {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    gap: 2rem;
    width: 90%;
    padding: 1rem;
    margin-top: 3rem;
}

.informationBlock {
    user-select: none;
    width: 20%;
}

.levels {
    transition: all .25s;
    width: 100%;
    background: 
    linear-gradient(235deg, var(--white) 0%, var(--black) 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
    border-radius: 1.5rem;
    transform: translateY(0rem);
}
.informations, .options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0;
}
.years {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}
.levels:hover {
    transition: all .25s;
    transform: translateY(-.15rem);
}
.levels-img {
    width: 100%;
    height: 100%;
}
li, p, h1, h2, a {
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
}
img {
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
}
h5 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: -1.5rem;
}

.navigation {
    user-select: none;
    position: fixed;
    top: 0;
    background-color: var(--black);
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    min-height: 50px;
    height: auto;
    gap: 1rem;
    margin: 0;
    padding: .5rem;
    box-shadow: 0 2px 500px var(--shadow);
}
#logotype {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
#logotype img {
    width: 65%;
    height: 65%;
}
.navigation__links {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}
.navigation__controls {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
}
.navigation__logo {
    width: 100%;
    height: 100%;
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 0;
    margin: 10rem 0 0 0;
    width: 100vw;
    user-select: none;
    // min-height: 50px;
}
.title img {
    opacity: 0;
    animation: imageAppearance forwards 1s 1s 1 ease-in-out;
    width: 100%;
    height: 100%;
}

#fatalTitle {
    opacity: 0;
    animation: imageAppearance forwards 1s 1.5s 1 ease-in-out;
}

@keyframes imageAppearance {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}



#detailed {
    width: 100%;
    gap: 2rem;
    list-style-type: none;
    counter-reset: mycounter;
}
#detailed li {
    margin-left: -3.5rem;
    font-size: 1.5rem;
}
#detailed li::before {
    position: relative;
    top: .25rem;
    content: counter(mycounter);
    counter-increment: mycounter;
}

.card__title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 0;
    height: 100px;
}
.card__title h1 {
    margin: 0;
    padding: 0;
    gap: 0;
    margin-top: -3rem;
    margin-left: 3.5rem;
}

.card__description {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 1rem;
    height: 100px;
}
.card__description div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 700;
}
.card__description div a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 700;
}
.card__description .difficulty { width: 20%; }
.card__description .duration { width: 15%; }
.card__description .foundYear { width: 15%; }
.card__description .repeatings { width: 15%; }
.card__description .link { width: 35%; }

.difficulty {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: .25rem;
}
.card__description div img,
.card__description div .circle {
    margin-right: .5rem;
}
ol h3 {
    font-size: 3rem;
}

#detailed h3 {
    text-align: left;
}
#fast h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    height: 1.5rem;

}

#fast  {
    text-align: left;
    justify-content: start;
    align-items: start;
    width: 85%;
    gap: .5rem;
    padding-left: 3.5rem !important;
}
.line {
    position: relative;
    color: var(--black);
    background-color: var(--white);
    width: 50vw;
    top: -1.5rem;
    left: 15vw;
    overflow: hidden;
    height: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

button, button:hover, button:active { scale: 1; transition: all .25s; }
#isBasedSolely {
    transition: all .25s;
}

button:hover {
    transition: all .25s;
    transform: translateY(-.15rem);
}
button:active {
    transition: all .1s;
    scale: .8;
}
#isBasedSolely:hover {
    transition: all .25s;
    color: $fatal;
}

.open-modal {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.open-modal img {
    width: 100%;
    height: 100%;
}

/* Фон модалки */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  display: none;              /* по умолчанию скрыто */
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* когда добавлен класс show — показываем */
.modal.show {
  display: flex;
}

/* Окно */
.modal__dialog {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    position: relative;
    max-width: 50vw;
    width: 100%;
    padding: 1.5rem;
    animation: fadeInUp 0.25s ease-out;
    margin: 0 auto;
    border-radius: 1.5rem;
    min-height: 200px;
    height: auto;
    color: var(--white);
    background: 
    linear-gradient(190deg, var(--white) 0%, var(--black) 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray; 
}


.omg {
    transition: all .25s;
    animation: omg .5s ease-in-out infinite forwards;
}

/* Крестик */
.modal__close {
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  line-height: 1;
  cursor: default;
}

.modal__title {
  margin: 0 0 .5rem;
  font-size: 2rem;
}

.modal__text {
  margin: 0 0 1rem;
  font-size: 1rem;
  color: var(--white);
}

#themeToggle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100px;
    height: 30px;
    font-weight: 700;
    border-radius: 1.5rem;
    background-color: var(--white);
    color: var(--black);
    border: none;
}
#colorMode {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 .5rem;
}

#setYear, #showHideTitles {
    transition: all .25s;
    transform: translateY(0rem);
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    border-radius: 1.5rem;
    min-height: 25px;
    height: auto;
    padding: .5rem;   
    color: var(--white);
    font-weight: 700;
    background: 
    linear-gradient(190deg, var(--white) 0%, var(--black) 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
}
#setYear {
    margin-top: 0;
}
#setYear:hover,
#showHideTitles:hover {
    transition: all .25s;
    transform: translateY(-.15rem);
}

select {
    transition: all .25s;
    transform: translateY(0rem);
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    border-radius: 1.5rem;
    min-height: 25px;
    height: auto;
    padding: .5rem .5rem .5rem 1rem;   
    color: var(--white);
    font-weight: 700;
    background: 
    linear-gradient(190deg, var(--white) 0%, var(--black) 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
}

option {
    font-weight: 700;
    color: #0F0F0F;
}

.range-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}

#heightRange {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: 
    linear-gradient(190deg, var(--white) 0%, var(--black) 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
  outline: none;
  -webkit-appearance: none;
}

#heightRange::-webkit-slider-thumb {
    
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: 
    linear-gradient(190deg, var(--white) 0%, var(--black) 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
}

#heightRange::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: 
    linear-gradient(190deg, var(--white) 0%, var(--black) 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
}

input[type=range]::-webkit-scrollbar {
  width: 6px;
}
input[type=range]::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 3px;
}

label {
    font-weight: 700;
    color: var(--white);
}
.dark { background-color: #0F0F0F; }
.oled { background-color: #000000; }
.light { background-color: #FAFAFA; }



.modal__action {
    margin: 0;
    width: 100px;
    border-radius: 1.5rem;
    min-height: 50px;
    height: 50px;
    padding: .5rem;   
    color: var(--white);
    font-weight: 700;
    background: 
    linear-gradient(190deg, var(--white) 0%, var(--black) 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
}


@keyframes omg {
    from {
        font-size: 1.5rem;
        color: $fatal;
    }
    10% { color: $extreme; }
    20% { color: $atrocious; }
    30% { color: $insane; }
    30% { color: $harsher; }
    50% {
        font-size: 5rem;
        color: $harsh;
    }
    60% { color: $medium; }
    70% { color: $normal; }
    80% { color: $normal; }
    90% { color: $easy; }
    to {
        font-size: 5rem;
        color: $pacific;
    }
}
/* Простая анимация */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1600px) {
    .line {
        display: none;
    }
    .card {
        width: 60vw;
    }
}
@media (max-width: 1200px) {
    .detailedMusicMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        width: 90%;
        padding: .5rem;
    }
    .informationBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        gap: 1rem;
    }
    .informations {
        width: 60%;
    }
    .options {
        width: 40%;
    }
    .levels {
        margin-top: 0;
        width: 40%;
    }
    .year {
        width: 100%;
    }
    #detailed {
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 85vw;
    }
}
@media (max-width: 900px) {
    .navigation__links {
        width: 40%;
        gap: .75rem;
    }
    .navigation__links a {
        text-align: center;
        font-size: .75rem;
    }
    .navigation__controls {
        width: 25%;
        gap: .75rem; 
    }

    .modal__dialog {
        gap: 1rem;
        max-width: 85vw;
        width: 100%;
        padding: 1rem;
        min-height: 200px;
        height: auto;
    }
    .modal__title {
        margin: 0 0 .25rem;
        font-size: 1.5rem;
    }
    .modal__text {
        margin: 0 0 .5rem;
        font-size: 1rem;
    }
    .card {
        width: 85vw;
        min-height: 100px;
        height: 150px;
    }
    .open-modal {
        min-width: 30px;
        min-height: 30px;
    }
    .trackName {
        font-size: 1.25rem;
    }
    ol h3 {
        font-size: 2rem;
    }
    h2 {
        font-size: 0.75rem;
    }
    .authorName {
        margin-left: .05rem;
        font-size: 1rem;
    }
    img, .circle {
        width: 20px;
        height: 20px;
    }
    #detailed {
        margin: 1rem;
        gap: 1rem;
        list-style-type: none;
        counter-reset: mycounter;
    }
    #detailed li {
        margin-left: -3.5rem;
        font-size: 1.5rem;
    }
    #detailed li::before {
        position: relative;
        width: 50px !important;
        height: 50px !important;
        top: 0;
        content: counter(mycounter);
        counter-increment: mycounter;
    }
    .card__title h1 {
        margin-bottom: 0rem;
        margin-left: 3.5rem;
    }
    .card__title {
        height: 50px;
    }
    .card__description div a,
    .card__description div {
        font-size: .75rem;
    }
    .card__description .difficulty {
        margin-top: 0;
    }
    .card__description {
        margin-top: 1rem;
    }
    .card {
        padding: 1rem 1rem 1rem 4.5rem;
    }
    .detailedMusicMain {
        margin-top: 3rem;
    }

    
}

@media (max-width: 600px) {
    #colorMode {
        width: 13px;
        height: 13px;
        margin: .3rem .2rem .3rem .3rem;
    }
    #themeToggle {
        font-size: .75rem;
    }
    img, .circle {
        width: 15px;
        height: 15px;
    }
    #detailed {
        padding: 0 0 0 .5rem;
        margin: 0;
    }
    .detailedMusicMain {
        padding: 0;
        width: 100%;
    }
    .card {
        padding: .85rem .85rem .85rem 4.5rem;
        width: 90vw;
        // min-height: 180px;
        min-height: 80px;
        height: auto;
    }
    #detailed li {
        margin-left: -3.5rem;
        font-size: 1.25rem;
    }
    #detailed li::before {
        position: relative;
        width: 20px !important;
        height: 20px !important;
        top: 0;
        content: counter(mycounter);
        counter-increment: mycounter;
    }
    .card__title {
        margin-bottom: 1rem;
    }
    .card__title h1 {
        margin-bottom: 0;
        margin-left: 3.5rem;
    }
    .card__description {
        height: auto;
    }
    .trackName {
        margin-top: 1.5rem;
        display: block;
        font-size: 1rem;
        margin-bottom: .5rem;
        // line-height: 0px;
        max-height: 40px;
    }
    ol h3 {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 0.5rem;
    }
    .authorName {
        margin-left: .05rem;
        font-size: 0.75rem;
    }
    .card__description {
        gap: .5rem;
        margin-top: 0;
        flex-wrap: wrap;
    }
    .card__description .difficulty { width: 90%; }
    .card__description .duration { width: 35%; }
    .card__description .foundYear { width: 55%; }
    .card__description .repeatings { width: 35%; }
    .card__description .link { width: 55%; }
    .informationBlock {
        width: 80%;
    }
    .levels {
        width: 70%;
    }
    .options {
        width: 55%;
    }
    .year {
        width: 100%;
    }
    .card__inner {
        gap: .25rem;
    }

}
@media (max-width: 400px) {
    .navigation__links {
        width: 35%;
        gap: .5rem;
    }
    .navigation__controls {
        width: 25%;
        gap: .5rem; 
    }
    #colorMode {
        width: 10px;
        height: 10px;
        margin: .2rem .2rem .2rem .4rem;
    }
    #themeToggle {
        font-size: .3rem;
    }
}