@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$white: #FAFAFA;
$black: #0D0D0D;
$gray: #4F4F4F;
$pacific: #118AB2;
$easy: #06D6A0;
$normal: #FFD166;
$medium: #F48C06;
$harsh: #FB5607;
$harsher: #D00000;
$insane: #7F2982;
$atrocious: #2D0C2F;
$extreme: #FF006E;
$fatal: #80FFDB;

.white { color: $white; }
.black { color: $black; }
.gray { color: $gray; }
.pacific { color: $pacific; }
.easy { color: $easy; }
.normal { color: $normal; }
.medium { color: $medium; }
.harsh { color: $harsh; }
.harsher { color: $harsher; }
.insane { color: $insane; }
.atrocious { color: $atrocious; }
.extreme { color: $extreme; }
.fatal { color: $fatal; }


.circle {
    width: 25px;
    height: 25px;
    background-color: $white;
    color: transparent;
    border-radius: 50%;
}

.white .circle { background-color: $white; }
.black .circle { background-color: $black; }
.gray .circle { background-color: $gray; }
.pacific .circle { background-color: $pacific; }
.easy .circle { background-color: $easy; }
.normal .circle { background-color: $normal; }
.medium .circle { background-color: $medium; }
.harsh .circle { background-color: $harsh; }
.harsher .circle { background-color: $harsher; }
.insane .circle { background-color: $insane; }
.atrocious .circle { background-color: $atrocious; }
.extreme .circle { background-color: $extreme; }
.fatal .circle { background-color: $fatal; }

.white .line { background-color: $white; }
.black .line { background-color: $black; }
.gray .line { background-color: $gray; }
.pacific .line { background-color: $pacific; }
.easy .line { background-color: $easy; }
.normal .line { background-color: $normal; }
.medium .line { background-color: $medium; }
.harsh .line { background-color: $harsh; }
.harsher .line { background-color: $harsher; }
.insane .line { background-color: $insane; }
.atrocious .line { background-color: $atrocious; }
.extreme .line { background-color: $extreme; }
.fatal .line { background-color: $fatal; }

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    cursor: default;
}
body, ol, ul {
    background-color: $black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    width: 100%;
}
.card {
    margin: 0 auto;
    width: 45%;
    border-radius: 1.5rem;
    min-height: 200px;
    height: 200px;
    padding: 1rem 2rem 1rem 5rem;   
    color: $white;
    background: 
    linear-gradient(190deg, $white 0%, $black 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
}
#trackName {
    font-size: 2rem;
}
h2 {
    font-size: 1rem;
}
#authorName {
    margin-left: .1rem;
    font-size: 1.25rem;
    // font-style: italic;

}

li, p, h1, h2, a {
    color: $white;
    text-decoration: none;
    font-weight: 700;
}
img {
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 0;
}
h5 {
    text-transform: uppercase;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
    margin-bottom: -1.5rem;
}
.title {
    width: 100%;
    // min-height: 50px;
}
.navigation {
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    min-height: 100px;
    height: auto;
    gap: 3rem;
    margin: .5rem;
}
.navigation a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100px;
    color: $white;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
}
.navigation__links {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.navigation__logo {
    width: 100%;
    height: 100%;
}
.title img {
    width: 100%;
    height: 100%;
}
#fast {
    text-align: left;
    align-items: start;
    margin-left: 7.5rem;
    gap: .5rem;
}
#detailed {
    margin: 2rem;
    gap: 2rem;
    list-style-type: none;
    counter-reset: mycounter;
}
#detailed li {
    margin-left: -3.5rem;
    font-size: 1.5rem;
}
#detailed li::before {
    position: relative;
    top: .25rem;
    content: counter(mycounter);
    counter-increment: mycounter;
}
#short {
    text-align: left;
    justify-content: start;
    align-items: start;
    width: 90%;
}
.card__inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 1rem;
}

.card__title {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 0;
    height: 100px;
}
.card__title h1 {
    margin: 0;
    padding: 0;
    gap: 0;
    margin-top: -3rem;
    margin-left: 3.5rem;
}

.card__description {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 100%;
    gap: 1rem;
    height: 100px;
}
.card__description div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 700;
}
.card__description div a {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 700;
}
.card__description #difficulty { width: 30%; }
.card__description #duration { width: 15%; }
.card__description #foundYear { width: 15%; }
.card__description #repeatings { width: 15%; }
.card__description #link { width: 25%; }

#difficulty {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-top: .25rem;
}
.card__description div img,
.card__description div .circle {
    margin-right: .5rem;
}
ol h3 {
    font-size: 3rem;
}
#fast h3 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
    height: 1.5rem;

}
.line {
    position: relative;
    color: $black;
    background-color: $white;
    width: 70vw;
    top: -1.5rem;
    left: 15vw;
    overflow: hidden;
    height: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

button, button:hover, button:active { transition: all .4s; }
#isBasedSolely {
    transition: all .4s;
}

#isBasedSolely:hover {
    transition: all .4s;
    color: $fatal;
}

.open-modal {
  padding: 0;
  border: none;
  background: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin: 40px;
}

/* Фон модалки */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;              /* по умолчанию скрыто */
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* когда добавлен класс show — показываем */
.modal.show {
  display: flex;
}

/* Окно */
.modal__dialog {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    position: relative;
    max-width: 50vw;
    width: 100%;
    padding: 1.5rem;
    animation: fadeInUp 0.25s ease-out;
    margin: 0 auto;
    border-radius: 1.5rem;
    min-height: 200px;
    height: auto;
    color: $white;
    background: 
    linear-gradient(190deg, $white 0%, $black 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray; 
}


.omg {
    transition: all .4s;
    animation: omg .5s ease-in-out infinite forwards;
}

/* Крестик */
.modal__close {
  position: absolute;
  top: 8px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 24px;
  line-height: 1;
  cursor: default;
}

.modal__title {
  margin: 0 0 .5rem;
  font-size: 2rem;
}

.modal__text {
  margin: 0 0 1rem;
  font-size: 1rem;
  color: $white;
}

.modal__action {
    margin: 0;
    width: 100px;
    border-radius: 1.5rem;
    min-height: 50px;
    height: 50px;
    padding: .5rem;   
    color: $white;
    font-weight: 700;
    background: 
    linear-gradient(190deg, $white 0%, $black 35%);
    border-left: 2px solid $gray;
    border-bottom: 2px solid $gray;
}

@keyframes omg {
    from {
        font-size: 1.5rem;
        color: $fatal;
    }
    10% { color: $extreme; }
    20% { color: $atrocious; }
    30% { color: $insane; }
    30% { color: $harsher; }
    50% {
        font-size: 5rem;
        color: $harsh;
    }
    60% { color: $medium; }
    70% { color: $normal; }
    80% { color: $normal; }
    90% { color: $easy; }
    to {
        font-size: 5rem;
        color: $pacific;
    }
}
/* Простая анимация */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1600px) {
    .card {
        width: 60vw;
        min-height: 200px;
    }
}
@media (max-width: 1200px) {
    .card {
        width: 85vw;
        min-height: 200px;
    }
}
@media (max-width: 900px) {
    .card {
        width: 60vw;
        min-height: 200px;
    }
    #trackName {
        font-size: 1.25rem;
    }
    h2 {
        font-size: 0.75rem;
    }
    #authorName {
        margin-left: .05rem;
        font-size: 1rem;
    }
    img, .circle {
        width: 20px;
        height: 20px;
    }

}